/bin/
/Results/
/config.yml
/.classpath
/.project
/.gitignore
/README.md
/config.txt
/build.xml
/error.log
/CardPhotocopier error.log
/CardPhotocopier descriptions.json
/Gangplank's Fate deck.jpg
/Gangplank's Villain deck.jpg
/plunder deck.jpg
/vessel deck.jpg
/syren deck.jpg
/dreadway deck.jpg
/common plunder deck.jpg
/The Dreadway.jpg
/The Syren.jpg
/-Layout/
/-Images/
/Duel Cards.jpg
/Gangplank.ods
/Attack.jpg
/Bounty Signs.jpg
/Citrus Courier.jpg
/Counter.jpg
/Crackshot Corsair.jpg
/Death's Daughter.jpg
/Deckhand.jpg
/Delay.jpg
/Double Up.jpg
/Fire at Will.jpg
/Hired Gun.jpg
/Illaoi.jpg
/Jagged Butcher.jpg
/Jagged Cutlass.jpg
/Keelbreaker.jpg
/Make It Rain.jpg
/Miss Fortune.jpg
/Monkey Idol.jpg
/More Powder!.jpg
/Parlous.jpg
/Parrrley.jpg
/Petty Officer.jpg
/Pilfered Goods.jpg
/Platewyrm Egg.jpg
/Plunder Poro.jpg
/Powder Keg.jpg
/Powder Pandemonium.jpg
/Prowling Cutthroat.jpg
/Raise Morale.jpg
/Riptide Rex.jpg
/Ruthless.jpg
/Salvage.jpg
/Sermon.jpg
/Treasure Trove.jpg
/Twisted Fate.jpg
/Warning Shot.jpg
/Ye Been Warned.jpg
/Yordle Grifter.jpg
/.~lock.Gangplank.ods#
