/bin/
/Results/
/config.yml
/.classpath
/.project
/.gitignore
/README.md
/config.txt
/build.xml
/error.log
/CardPhotocopier error.log
/CardPhotocopier descriptions.json
/Gangplank's Fate deck.jpg
/Gangplank's Villain deck.jpg
/plunder deck.jpg
/vessel deck.jpg
/syren deck.jpg
/dreadway deck.jpg
/common plunder deck.jpg
/The Dreadway.jpg
/The Syren.jpg
/-Layout/
/-Images/
/Duel Cards.jpg
/Gangplank.ods
