/DuelDeck.png
/FateBottomRightElement.png
/FateDeck.png
/FateStrength.png
/FateTopRightElement.png
/PlunderDeck.png
/VillainBottomRightElement.png
/VillainCost.png
/VillainDeck.png
/VillainStrength.png
/VillainTopRightElement.png
/plunderStrength.png
